:root {
    --deepred:rgb(223, 25, 0);
    --red: rgb(245, 49, 0);
    --white: white;
    --deepyellow: rgb(255, 204, 35);
    --orange: rgb(255, 124, 42);
    --beige: rgb(255, 226, 156);
    --pink: rgb(254, 180, 133);
    --black: black;
    --deepgreen: rgb(12, 184, 0);
    --lightgreeen: rgb(130, 225, 1);
    --lightyellow: rgb(254, 244, 35); 
    --deepblue: rgb(59, 106, 254);
    --lightblue:rgb(99, 188, 255);
    --violet: rgb(134, 32, 217);
    --brown: rgb(97, 31, 0);
    --lightbrown: rgb(170, 77, 0);
    --camel: rgb(218, 123, 20);
}
.square {
    min-height: 50px;
}
.bg-deepred {
    background-color: var(--deepred);
}
.bg-red {
    background-color: var(--red);
}
.bg-white {
    background-color: var(--white);
}
.bg-deepyellow {
    background-color: var(--deepyellow);
}
.bg-orange {
    background-color: var(--orange);
}